@import '../../app/globals.scss';

.component-navbar{
  background-color: $lightCyan;
  height: 85px;

  @media #{$media-tablet} {
    height: 105px; 
  }

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 80px;
  
      @media #{$media-tablet} {
        width: 100px; 
      }
    }
  }
}